<%= link_to "Create New Request", new_user_request_path %>


<div class="request-container container-fluid">
  <% @requests.each do |request| %>
  <div class="panel panel-default" class=request_<%= request.id %>>
    <div class="panel-heading">
      <h3 class="panel-title">
        <stong><%= link_to request.title, user_request_path(request.user.id, request.id) %></strong>
      </h3>
    </div>
    <div class="panel-body">
      <%= button_to 'Edit Request', edit_user_request_path(request.user.id, request.id), method: "get", class: 'btn btn-large btn-warning' %>
      <%= button_to 'Delete Request', user_request_path(request.user.id, request.id), method: "delete", class: 'btn btn-large btn-danger' %>
    </div>
  </div>
  <% end %>
</div>
